.Main-Navbar{
    font-size:1.25rem;font-weight:300;

    display: flex;

    top:0px;
    left:0px;
    right: 0px;
    height: auto;
    padding: 5px;
    background:#212121;
    color:white;
    opacity: 1;
    
}

.Main-Navbar-Title{
    font-size: 30px;
    padding:5px;
}

.Navbar-content{
    right: 0;
}
.Navbar-Outside-content{
    padding: 10px;
    display: flex;

}
.Navbar-item{
    cursor: pointer;
    border-radius: 30px;
    user-select: none;
    transition-duration:0.2s;
    padding:10px;
    color:white;
    text-decoration: none;
}
.Navbar-item:hover{
    background: linear-gradient(90deg,orange,red);
    box-shadow: 0 0 5px white;
    color:black;

}
.Navbar-item:active{
    
    transform: scale(0.9);
}

.Main-Navbar-Inside-Content{
    position: absolute;
    z-index: 2;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    
    background: linear-gradient(45deg,violet,blue);
}